.police {
    font-family: "Oswald", sans-serif;
}

header {
    margin: 50px;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 4em;
    color: white;
}

.box {
    border: solid 1px black;
    background-color: #61787F;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150PX;
}

/* Format Tablette */
@media screen and (max-width: 900px) {

    .box {
        gap: 30px;
    }
}

/* Format Mobile */
@media screen and (max-width: 600px) {

    header {
        margin: 10px;
    }

    .box {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    h1 {
        display: none;
    }
}