.police {
    font-family: "Oswald", sans-serif;
}

header {
    margin: 50px;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 4em;
    color: white;
}

.box {
    border: solid 1px black;
    background-color: #61787F;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150PX;
}

@media screen and (max-width: 480px) {

    header {
        margin: 10px;
    }

    .box {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    h1 {
        display: none;
    }
}