.police {
    font-family: "Oswald", sans-serif;
}

/* Gestion des éléments du header */
h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 4em;
    color: white;
}

.box {
    border: solid 1px black;
    border-radius: 30px;
    background-color: #61787F;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150PX;
}

/* Format Ecran large */
@media screen and (min-width: 1200px) {
    .box {
        gap: 50px;
    }
}

/* Format Desktop */
@media screen and (max-width: 1200px) {
    .box {
        gap: 50px;
    }
}

/* Format Laptop */
@media screen and (max-width: 1024px) {
    .box {
        gap: 40px;
    }
}

/* Format tablette */
@media screen and (max-width: 768px) {

    .box {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    h1 {
        display: none;
    }
}

/* Format Mobile */
@media screen and (max-width: 480px) {

    header {
        margin: 10px;
    }
}