.police {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 4em;
    color: white;
}

.box {
    border: solid 1px black;
    background-color: #61787F;
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 75px;
    margin: 50px;
    padding-left: 50px;
}

.logo {
    width: 150px;
    height: 150PX;
}

@media  screen and (max-width: 480px) {

    .box {
        padding-left: 80px;
    }
    
}