.police {
    font-family: "Oswald", sans-serif;
}

/* Gestion des élements de façon générale */

.one {
    padding-bottom: 20px;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 4em;
}

h3 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Oswald", sans-serif;
    text-align: justify;
}

a {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
}

button {
    font-family: "Oswald", sans-serif;
    border: none;
}

img {
    border-radius: 30px;
}

/* Gestion des élements de la box meilleur film */
.box_meilleur_film {
    background-color: whitesmoke;
    border: solid 5px black;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}

.element_meilleur_film {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.element_mf_1 {
    width: 250px;
    height: auto;
}

.element_mf_2 {
    font-size: 3em;
}

.element_mf_3 {
    font-size: 1.25em;
}

.element_mf_4 {
    background: #C74E42;
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    width: 150px;
    height: 50px;
}

.element_mf_4:hover {
    color: white;
    background-color: #A34F43;
}


/* Gestion des éléments des films par catégorie */
.film {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.film img {
    width: 300px;
    height: auto;
}

.contenair_film {
    position: relative;
}

.box_film_hover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 50px 50px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.film_one {
    grid-column: 1/3;
    grid-row: 1/1;
    color: white;
    font-size: 2em;
    padding: 10px;
}

.film_two {
    grid-column: 1/2;
    grid-row: 2/2;
    place-items: center;
    text-align: center;
    color: white;
    font-size: 1em;
    background-color: #C74E42;
    width: 75px;
    height: auto;
    border-radius: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.film_two:hover {
    color: white;
    background-color: #A34F43;
}


/* Gestion des élements du menu déroulant */
form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

label {
    font-family: "Oswald", sans-serif;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 30px;
}

select {
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    border: solid 1px black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: whitesmoke;
    text-align: center;
}


/* Responsive */

/* Format grand écran */
@media screen and (min-width: 1200px) {

    section {
        margin: 50px;
    }

    .box_meilleur_film {
        padding: 15px;
    }

    .element_mf_1 {
        max-width: 100%;
        max-height: 100%;
    }

    .element_mf_2 {
        margin-left: 15px;
    }

    .element_mf_3 {
        margin-left: 15px;
    }

    .element_mf_4 {
        margin-left: 15px;
    }

    .contenair_film img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

/* Format Desktop */
@media screen and (max-width: 1200px) {

    section {
        margin: 50px;
    }

    .box_meilleur_film {
        padding: 15px;
    }

    .element_meilleur_film {
        display: flex;
        margin: auto;
        justify-content: flex-start;
    }

    .element_mf_2 {
        margin-top: auto;
        margin-bottom: auto;
    }

    .contenair_film img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}


/* Format Laptop */
@media screen and (max-width: 1024px) {

    section {
        margin: 50px;
    }

    .element_meilleur_film {
        margin: auto;
        align-items: flex-start;
    }
}


/* Format Tablette */
@media screen and (max-width: 768px) {
    section {
        margin: 30px;
    }

    .box_meilleur_film {
        padding: 10px;
        height: auto;
    }

    .element_mf_3 {
        overflow: scroll;
        height: 75px;
    }

    .film {
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        gap: 20px;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-bottom: 10px;
        scroll-snap-type: x mandatory;
    }

    .film::-webkit-scrollbar {
        display: none;
    }

    .contenair_film {
        width: 285px;
        scroll-snap-align: start;
    }

    .film img {
        width: 100%;
        height: auto;
    }
}

/* Format Mobile */
@media screen and (max-width: 480px) {

    section {
        margin: 10px;
    }

    h2 {
        font-size: 2em;
        text-align: center;
    }

    .box_meilleur_film {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .element_mf_2 {
        margin: auto;
        text-align: center;
    }

    .element_mf_3 {
        overflow: visible;
    }

    .film {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-bottom: 10px;
    }

    .film::-webkit-scrollbar {
        display: none;
    }

    .contenair_film {
        flex: 0 0 auto;
        width: 300px;
        height: auto;
    }

    .film img {
        width: 100%;
        height: auto;
    }


    form {
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    label {
        font-size: 2em;
    }

    select {
        height: 25px;
    }
}