main {
    margin-left: 50px;
}

.police {
    font-family: "Oswald", sans-serif;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 4em;
    font-weight: 400;
}

h3 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Oswald", sans-serif;
    text-align: justify;
}

a {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
}



.box_meilleur_film {
    border: solid 5px black;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px 100px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.element_mf {
    margin: 20px;
}

.element_mf_1 {
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 250px;
    height: auto;
}

.element_mf_2 {
    grid-column: 2/4;
    grid-row: 1/1;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.element_mf_3 {
    grid-column: 2/4;
    grid-row: 2/2;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.element_mf_4 {
    grid-column: 4/4;
    grid-row: 3/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #C74E42;
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    width: 150px;
    height: 50px;
}

.element_mf_4:hover {
    background: #A34F43;
}


.film_mieux_note {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.film_mieux_note img {
    width: 300px;
    height: auto;
}

.contenair_film_mn {
    position: relative;
}

.box_film_mn_hover {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 100px 100px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.film_mn_one {
    grid-column: 1/2;
    grid-row: 1/1;
    place-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 10px;
}

.film_mn_two {
    grid-column: 4/4;
    grid-row: 2/2;
    place-items: center;
    text-align: center;
    color: white;
    font-size: 1em;
    background-color: grey;
    width: 75px;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
}

.contenair_film_mn:hover .box_film_mn_hover {
    display: grid;
}