.police {
    font-family: "Oswald", sans-serif;
}

/* Gestion des éléments du popup */
.hidden {
    display: none;
}

  .popupBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
}

.popup_content {
    padding: 20px;
    color: black;
    border: solid 5px black;
    border-radius: 30px;
    background-color: whitesmoke;
    z-index: 1000;
}

.informations_film button {
    background-color: whitesmoke;
    width: 40px;
    height: 20px;
    color: #C74E42;
    font-size: 2em;
    display: flex;
    align-items: center;
    }

button:hover {
    color: #A34F43;
}

.popup_content span {
    font-weight: bold;
}


/* gestion du responsive */

/* Format grand écran */
@media screen and (min-width: 1200px){
    .popup_content p {
        font-size: 1.5em;
    }

    .box-informations-film {
        display: flex;
        flex-direction: row;
    }

    .informations_film h3 {
        font-size: 3.5em;
        margin-top: auto;
    }

    .informations_film p {
        font-size: 1.75em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .box-informations-film img {
        margin: auto;
        width: 30%;
        object-fit: cover;
    }

}


/* Format Desktop */
@media screen and (max-width: 1200px){

    .popup_content p {
        font-size: 1.25em;
    }

    .box-informations-film {
        display: flex;
        flex-direction: row;
    }

    .informations_film h3 {
        font-size: 3em;
        margin-top: auto;
    }

    .informations_film p {
        font-size: 1.5em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .box-informations-film img {
        margin: auto;
        width: 30%;
        object-fit: cover;
    }
}

/* Format Laptop */
@media screen and (max-width: 1024px){

}


/* Format tablette */
@media screen and (max-width: 768px){

    .popup_content p {
        font-size: 1.25em;
    }

    .box-informations-film {
        display: flex;
        flex-direction: column;
    }

    .box-informations-film img {
        width: 70vw;
        height: 300px;
        object-fit: cover;
        margin-top: 16px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .informations_film {
        display: flex;
        flex-direction: column;
    }

    .informations_film h3 {
        font-size: 2.5em;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .informations_film p {
        font-size: 1.25em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .texte-description {
        height: 150px;
        overflow: scroll;
    }
}


/* Format Mobile */
@media screen and (max-width: 480px) {


    .popup_content p {
        font-size: 1em;
    }

    .informations_film h3 {
        font-size: 1.75em;
    }
    
    .informations_film p {
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
    }
}

