.police {
    font-family: "Oswald", sans-serif;
}

/* Gestion des éléments du popup */
.hidden {
    display: none;
}

  .popupBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
}

.popup_content {
    padding: 20px;
    color: black;
    border: solid 5px black;
    border-radius: 30px;
    background-color: whitesmoke;
    z-index: 1000;
}

/* gestion du responsive */

/* Format grand écran */
@media screen and (min-width: 1200px){

    .informations_film {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 50px 50px 50px 50px 50px 50px 50px;
}

    .informations_film button {
        background-color: whitesmoke;
        width: 40px;
        height: 30px;
        color: #C74E42;
        font-size: 2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: auto;
    }

    button:hover {
        color: #A34F43;
    }

    .informations_film h3,
    .informations_film P {
        grid-column: 1/2;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .informations_film h3 {
        font-size: 3em;
    }

    .informations_film img {
        grid-column: 2/3;
        grid-row: 1/ 8;
        padding: 15px;
        width: auto;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
        margin: auto;
    }

    .popup_content span {
        font-weight: bold;
    }
}

/* Format Desktop */
@media screen and (max-width: 1200px){

}

/* Format tablette */
@media screen and (max-width: 900px){

    .popupBackground{
        width: 90vw;
        height: 90vh;
    }

    .informations_film {
        display: flex;
        flex-direction: column;
    }

   .informations_film button {
        background-color: whitesmoke;
        width: 40px;
        height: 20px;
        color: #C74E42;
        font-size: 2em;
        display: flex;
        align-items: center;
    }

    button:hover {
        color: #A34F43;
    }


    .informations_film h3 {
        font-size: 2em;
        margin-top: auto;
        margin-bottom: auto;
    }

     .informations_film img {
        width: 70vw;
        height: 200px;
        object-fit: cover;
        margin-top: 16px;
    }
    
    
    .informations_film p {
        margin-top: auto;
        margin-bottom: auto;
    }

    .texte-description {
        height: 150px;
        overflow: scroll;
    }

    .popup_content span {
        font-weight: bold;
    }
}


/* Format Mobile */
@media screen and (max-width: 600px) {

    .popupBackground{
        width: 90vw;
        height: 90vh;
    }

    .informations_film {
        display: flex;
        flex-direction: column;
    }

   .informations_film button {
        background-color: whitesmoke;
        width: 40px;
        height: 20px;
        color: #C74E42;
        font-size: 2em;
        display: flex;
        align-items: center;
    }

    button:hover {
        color: #A34F43;
    }


    .informations_film h3 {
        font-size: 2em;
        margin-top: auto;
        margin-bottom: auto;
    }

     .informations_film img {
        width: auto;
        height: 200px;
        object-fit: cover;
        margin-top: 16px;
    }
    
    
    .informations_film p {
        margin-top: auto;
        margin-bottom: auto;
    }

    .texte-description {
        height: 150px;
        overflow: scroll;
    }

    .popup_content span {
        font-weight: bold;
    }

}

