.police {
    font-family: "Oswald", sans-serif;
}

/* Gestion des éléments du popup */
.hidden {
    display: none;
}

  .popupBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
}

.popup_content {
    padding: 20px;
    color: black;
    border: solid 5px black;
    border-radius: 30px;
    background-color: whitesmoke;
    z-index: 1000;
}

/* gestion du responsive */

/* Format grand écran */
@media screen and (min-width: 1200px){

}


/* Format Desktop */
@media screen and (max-width: 1200px){

}

/* Format Laptop */
@media screen and (max-width: 1024px){

}


/* Format tablette */
@media screen and (max-width: 768px){

    .popupBackground{
        width: 90vw;
        height: 90vh;
    }

    .popup_content p {
        font-size: 1.25em;
    }

    .popup_content span {
        font-weight: bold;
    }
    
    .informations_film {
        display: flex;
        flex-direction: column;
    }

   .informations_film button {
        background-color: whitesmoke;
        width: 40px;
        height: 20px;
        color: #C74E42;
        font-size: 2em;
        display: flex;
        align-items: center;
    }

    button:hover {
        color: #A34F43;
    }

    .informations_film h3 {
        font-size: 2.5em;
        margin-top: auto;
        margin-bottom: auto;
    }

     .informations_film img {
        width: 70vw;
        height: 200px;
        object-fit: cover;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .informations_film p {
        font-size: 1.5em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .texte-description {
        height: 150px;
        overflow: scroll;
    }

    
}


/* Format Mobile */
@media screen and (max-width: 480px) {

    .popupBackground{
        width: 90vw;
        height: 90vh;
    }

    .popup_content span {
        font-weight: bold;
    }

    .popup_content p {
        font-size: 1em;
    }

    .informations_film {
        display: flex;
        flex-direction: column;
    }

   .informations_film button {
        background-color: whitesmoke;
        width: 40px;
        height: 20px;
        color: #C74E42;
        font-size: 2em;
        display: flex;
        align-items: center;
    }

    button:hover {
        color: #A34F43;
    }

    .informations_film h3 {
        font-size: 2em;
        margin-top: auto;
        margin-bottom: auto;
    }

     .informations_film img {
        width: 70vw;
        height: 200px;
        object-fit: cover;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .informations_film p {
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .texte-description {
        height: 150px;
        overflow: scroll;
    }

}

