.police {
    font-family: "Oswald", sans-serif;
}

/* Gestion des éléments du popup */
.popup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
    color: black;
    border: solid 5px black;
    border-radius: 30px;
    background-color: whitesmoke;
    z-index: 1;
}

.informations_film {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 50px 50px 50px 50px 50px 50px 50px;
}

.informations_film button {
    background-color: whitesmoke;
    color: #C74E42;
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
}

.informations_film h3,
.informations_film P {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.informations_film h3 {
    font-size: 3em;
}

.informations_film img {
    grid-column: 2/3;
    grid-row: 1/ 8;
    padding: 15px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.popup .text_en_gras {
    font-weight: bold;
}